<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공공데이터 포털</title>
</head>

<body>
    <li class="recent">
        <dl>
            <dt>
                <a href="/data">
                    <span class="tagset csv">
                        CSV
                    </span>
                    <span class="tagset json">JSON + XML</span>
                    <span class="recent-title">
                        대구광역시 수성구_지방세 징수현황
                        <span class="recent-ty">
                            Update
                        </span>
                    </span>
                </a>
            </dt>
            <dd class="ellipsis publicDataDesc">
                지방세 부과액에 대한 세목별 징수현황을 제공하여 지자체의 재정자주도·재정자립도 산출하는 기초 및 납세 협력도 및 조세 순응도를 확인하는 자료로 활용
            </dd>
        </dl>
        <div class="info-data">
            <p>
                <span class="tit">제공기관</span>
                <span class="data">
                    대구광역시 수성구
                </span>
            </p>
            <p>
                <span class="tit">수정일</span>
                <span class="recent-update-dt">
                    2023-10-06
                </span>
            </p>
            <p>
                <span class="tit">조회수</span>
                <span class="data">
                    1239
                </span>
            </p>
            <p>
                <span class="tit">다운로드</span>
                <span class="data">161</span>
            </p>
            <p>
                <span class="tit">키워드</span>
                지방세,징수,현황
            </p>
        </div>
    </li>
</body>

</html>