<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공공데이터 포털</title>
</head>

<body>
    <h1>파일 목록</h1>
    <ul>
        <% files.forEach(file=> { %>
            <li>
                <a href="/download?file=<%= file %>">
                    <%= file %>
                </a>
            </li>
            <% }); %>
    </ul>
</body>

</html>