<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="/js/home/dataUpload.js" defer></script>
    <title>공공데이터 포털</title>
</head>
<body>
    <input id="fileName" type="text" placeholder="파일이름"><br>
    <button>파일 업로드</button>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</body>
</html>