<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="<%= isAuthenticated ? '/logout' : '/login' %>"><%= isAuthenticated ? '로그아웃' : '로그인' %></a>
    <% if (!isAuthenticated) { %>
        <a href="/register">회원가입</a>
    <% } %>
    <a href="/data">데이터목록</a>
    <% if (isAuthenticated) { %>
        <button onclick="location.href='/api'">api 인증키 발급받기</button>
    <% } %>
</body>
</html>